/********* GENERALES **********/
*{
  box-sizing: border-box;
}
.main-color{
  color: #684f40!important;
}
ul{
  list-style-type: none;
}

a, a:hover{
  text-decoration: none;
  color: unset;
  outline: none !important; 
  -moz-outline-style: none !important;
}

a:active, a:active *, button:active *, button:active { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus *, button:focus *, button:focus { outline: none !important; -moz-outline-style: none !important; }

html{
  font-size: 62.5%;
}

h1{
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-size: 3.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
}

h4{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

/********* FOOTER **********/
footer{
  font-size: 1.5rem;
  background-color: #28292b;
}

/********* HEADER **********/
@media (min-width: 768px){
  header{
    padding: 1.5rem 0;
  }
}

/* LOGO */
header img {
  width: 100%;
  display: block;
}

.navbar-toggler-icon{
  font-size: 2rem;
}
.navbar-light .navbar-nav .nav-link{
  color: #684f40;
  border: 1px solid #684f40;
  padding: 1rem 2rem;
  margin: 1rem;
  transition: all .5s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover{
  background-color: #684f40;
  color: white;
  border: none;
}
header a{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #684f40;
  transition: all 0.25s ease-in-out;
  margin-left: 0;
}
.separador-derecha{
  border-right: 1px solid #66666649;
}
header nav a:last-child, header nav .dropdown a, header nav a:nth-child(4){
  border-right: none;
}
header a:hover{
  color: rgb(255, 196, 0)!important;
}
header a, header img{
  flex: 1;
  text-align: center;
}

/* DROPDOWN DE PRODUCTOS */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #684f40;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
  font-size: 1.2rem;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */

/********* MAIN SLIDER **********/
#carousel-example-2 img{
  max-height: 90vh;
}

#carousel-example-2 .view{
  position: relative;
}

.contenedor-titulos{
  position: absolute;
  top: 5rem;
  left: 0;
}
#carousel-example-2 .view h1{
  background-color: #715f31;
  opacity: 80%;
  color: white;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}
#carousel-example-2 .view h3{
  background-color: rgba(255, 196, 0, 0.7);
  margin: 0;
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}
@media (min-width: 768px){
  .contenedor-titulos{
    top: 40%;
    left: 15%;
  }

#carousel-example-2 .view h1{
  padding: 3rem 2rem;

}
#carousel-example-2 .view h3{
  padding: 3rem 2rem;
}
}

/********* DESTACADOS **********/
.destacados h4, .diferencia h4, .location>h4{
  text-transform: uppercase;
  color: #684f40;
  font-weight: 700;
}

.destacados>p, .diferencia>p, .location>p{
  font-size: 1.4rem;
  color: #696969;
  font-family: 'Open Sans', sans-serif;
}

.destacados .card, .card_container{
  border: 2px solid #696969;
  position: relative;
  height: 40vh;
}
.destacados .card img, .card_container img{
  transition: all .5s ease-in-out;
  padding: 8px;
  height: 100%;
}
.destacados .card:hover img, .card_container:hover img{
  opacity: 50%;
}

.destacados .card .contenedor-descripcion-destacados, .card_container .card_description{
  opacity: 0%;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 50%;
  background-color: rgba(255, 196, 0, 0.8);
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: white;
  display: none;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.destacados .card:hover .contenedor-descripcion-destacados, .card_container:hover .card_description{
  opacity: 80%;
}
.destacados .card .contenedor-descripcion-destacados p, .card_container .card_description p{
  font-weight: bold;
}

.separador{
  display: block;
  width: 20rem;
  border-top: 2px solid;
}
.main-btn{
  text-transform: uppercase;
  color: #684f40;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid #684f40;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  transition: all .5s ease-in-out;
}
.main-btn:hover{
  background-color: #684f40;
  color: white;
}

/********* TESTIMONIAL **********/
.testimoniales{
  background-image: url('../img/foto-welcome3.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
  height: 60vh;
}
.testimoniales::after{
    content: '';
    background-color: #d69c1f;
    opacity: 75%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section-title {
	font-size: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 400;
	display: inline-block;
	position: relative;
}
.section-title:after,
.section-title:before {
	content: '';
	position: absolute;
	bottom: 0;
}
.section-title:after {
	height: 2px;
	background-color: rgba(252, 92, 15, 0.46);
	left: 25%;
	right: 25%;
}

.section-title:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	background-color: #fc5c0f;
	left: 50%;
	transform: translatex(-50%);
	bottom: -6px;
	z-index: 9;
	border-radius: 50%;
}

/* CAROUSEL STARTS */
.customer-feedback .owl-item img {
	width: 85px;
	height: 85px;
}

.feedback-slider-item {
	position: relative;
	padding: 60px;
	margin-top: -40px;
}

.customer-name {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 500;
}

.feedback-slider-item p {
	line-height: 1.875;
}

.customer-rating {
	background-color: #eee;
	border: 3px solid #fff;
	color: rgba(1, 1, 1, 0.702);
	font-weight: 700;
	border-radius: 50%;
	position: absolute;
	width: 47px;
	height: 47px;
	line-height: 44px;
	font-size: 15px;
	right: 0;
	top: 77px;
	text-indent: -3px;
}

.thumb-prev .customer-rating {
	top: -20px;
	left: 0;
	right: auto;
}

.thumb-next .customer-rating {
	top: -20px;
	right: 0;
}

.customer-rating i {
	color: rgb(251, 90, 13);
	position: absolute;
	top: 10px;
	right: 5px;
	font-weight: 600;
	font-size: 12px;
}

/* GREY BACKGROUND COLOR OF THE ACTIVE SLIDER */
.feedback-slider-item:after {
	content: '';
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	top: 103px;
	background-color: #f6f6f6;
	border: 1px solid rgba(251, 90, 13, .1);
	border-radius: 10px;
	z-index: -1;
}

.thumb-prev,
.thumb-next {
	position: absolute;
	z-index: 99;
	top: 45%;
	width: 98px;
	height: 98px;
	left: -90px;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.thumb-next {
	left: auto;
	right: -90px;
}

.feedback-slider-thumb img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.feedback-slider-thumb:hover {
	opacity: .8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.customer-feedback .owl-nav [class*="owl-"] {
	position: relative;
	display: inline-block;
	bottom: 45px;
	transition: all .2s ease-in;
}

.customer-feedback .owl-nav i {
	background-color: transparent;
	color: rgb(251, 90, 13);
	font-size: 25px;
}

.customer-feedback .owl-prev {
	left: -15px;
}

.customer-feedback .owl-prev:hover {
	left: -20px;
}

.customer-feedback .owl-next {
	right: -15px;
}

.customer-feedback .owl-next:hover {
	right: -20px;
}

/* DOTS */
.customer-feedback .owl-dots {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 35px;
}
.customer-feedback .owl-dot {
	display: inline-block;
}

.customer-feedback .owl-dots .owl-dot span {
	width: 11px;
	height: 11px;
	margin: 0 5px;
	background: #fff;
	border: 1px solid rgb(251, 90, 13);
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	border-radius: 50%;
}

.customer-feedback .owl-dots .owl-dot.active span {
	background-color: rgb(251, 90, 13);
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
	.feedback-slider-item:after {
		left: 30px;
		right: 30px;
	}
	.customer-feedback .owl-nav [class*="owl-"] {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 45px;
		bottom: auto;
	}
	.customer-feedback .owl-prev {
		left: 0;
	}
	.customer-feedback .owl-next {
		right: 0;
	}
	
}
/* .testimoniales img{
  -webkit-transform:rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  height: 20rem;
  border: 3px solid white;
  z-index: 1;
  margin: 2rem auto 2rem;
  display: block;
  position: relative;
}
.testimoniales blockquote{
  text-align: center;
  z-index: 1;
  font-size: 3rem;
  font-weight: 300;
  position: relative;
  margin: 2rem;
  color: #684f40;
}
@media (min-width: 768px){
.testimoniales img{
  height: 50vh;
  margin-left: 5rem;
  border: 1rem solid white;
}
.testimoniales blockquote{
  text-align: right;
  margin: 0 5rem;
}
} */
/********* SECCION LO QUE NOS DIFERENCIA *************/
.contenedor-cards-diferencia{
  display: block;
  grid-template-columns: 1fr;
  margin-bottom: 5rem;
}
.contenedor-card-diferencia{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
@media (min-width: 768px){
  .contenedor-cards-diferencia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 0 3rem;
  }
  .contenedor-card-diferencia{
    margin-bottom: 0;
  }
}
.contenedor-card-diferencia i{
  border: 2px solid #684f40;
  padding: 5rem;
  border-radius: 50%;
  font-size: 7rem;
  color: #684f40;
  transition: all .5s ease-in-out;
}
.contenedor-card-diferencia:hover i{
  color: rgb(255, 196, 0);
  border-color: rgb(255, 196, 0);
}
.contenedor-card-diferencia hr{
  color: rgb(255, 196, 0);
  width: 20%;
}
.contenedor-card-diferencia span{
  font-size: 1.4rem;
  color: #696969;
  text-align: center;
}

/********* SECCION CONOCE NUESTROS CLÃSICOS **********/
.conoce{
  background-image: url(../img/foto-welcome1.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.conoce::after{
  content: '';
  background-color: white;
  opacity: 40%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.conoce .contenedor-conoce{
  z-index: 2;
  position: relative;
  padding: 5rem 0;
}

.conoce h2, .conoce p{
  color: #684f40;
  text-transform: uppercase;
  z-index: 2;
}
.conoce h2{
  font-size: 4.5rem;
  line-height: 2;
}
.conoce p{
  font-size: 2rem;
}
@media (min-width: 768px){
  .conoce p{
    font-size: 3rem;
    line-height: 2;
  }
}

/********** SECCION DONDE ESTAMOS ************/

@media (min-width:768px){
  .contenedor-mapa{
    position: relative;
  }
  .cotenedor-mapa form{
    height: 100%;
  }
  .contenedor-formulario{
    position: absolute;
    top: 0;
    left: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #684f40;
    height: 100%;
    color: white;
    padding: 2rem 6rem;
  }
}
.contenedor-formulario span{
  font-size: 2rem;
}
.contenedor-formulario input, .contenedor-formulario textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: #684f40;
  border: 1px solid #684f40;
}
.contenedor-formulario input:hover, .contenedor-formulario textarea:hover{
  border: 1px solid #d69c1f;
}
.contenedor-formulario button{
  text-transform: uppercase;
  font-size: 1.5rem;
  border: none;
  color: #684f40;
}
/************ PAGINA EMPRESA **************/
.contenedor-texto-nosotros h4{
  text-align: center;
  margin: 2rem 0;
}
@media (min-width:768px){
  .contenedor-texto-nosotros h4{
  text-align: unset;
  margin: 0.5rem 0;
  }
}
.contenedor-nosotros img{
  border-radius: 50%;
  height: 20rem;
  width: 25rem;
  margin: 2rem auto;
}
@media (min-width:768px){
  .contenedor-nosotros img{
    border-radius: 50%; 
    height: 50rem; 
    width: 50rem;
  }
}
.contenedor-nosotros .contenedor-texto-nosotros p{
  font-size: 1.7rem;
  line-height: 2;
}
/************* CONTACTO **************/
.contenedor-contacto .contenedor-formulario-contacto{
  font-size: 1.5rem;
  margin: 0 5rem;
}
.contenedor-contacto span{
  font-size: 1.5rem;
}
.contenedor-contacto .contenedor-formulario-contacto>label{
 margin-top: 2rem;
}
.contenedor-contacto .contenedor-formulario-contacto .contenedor-nombre-contacto{
  margin-top: 2rem;
}
.contenedor-contacto .contenedor-formulario-contacto .contenedor-nombre-contacto input{
  width: 100%;
}
@media (min-width:768px){
  .contenedor-contacto .contenedor-formulario-contacto .contenedor-nombre-contacto input{
  flex: 1;
  margin: 0 2rem;
}
}
.contenedor-contacto input, .contenedor-contacto textarea{
  padding: 1rem;
  border: 1px solid #888888;
  color: #684f40;
  transition: all .5s ease-in-out;
}
.contenedor-contacto input:hover, .contenedor-contacto textarea:hover{
  border: 1px solid #d69c1f;
}

/************* CARRITO **************/
.carrito-container p, .carrito-container a{
  font-size: 1.2rem;
}
.carrito-container tr th, .carrito-container tr td{
  font-size: 1rem;
}
.carrito-container .main-btn{
  font-size: 1rem;
  padding: 1rem;
}
@media (min-width:768px){
  .carrito-container p, .carrito-container a{
    font-size: 2rem;
  }
  .carrito-container tr th, .carrito-container tr td{
    font-size: 1.5rem;
  }
  .carrito-container .main-btn{
    font-size: 1.5rem;
  }
}

.carrito-container .contenedor-totales{
  font-size: 1.3rem;
}

.contenedor-faq .contenedor-pregunta p{
  font-size: 1.3rem;
}


/***************PRODUCTOS******************/
.lista-descripcion-producto *{
  font-size: 1.6rem;
}
.old_price{
  position: relative;
}

.old_price:before{
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: red;
   
  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -ms-transform:rotate(-10deg);
  -o-transform:rotate(-10deg);
  transform:rotate(-10deg);
  
}

.new_price{
  color: green;
  font-size: 2rem;
}
/***************ADMINISTRACION******************/


.icon-cards {
  z-index: 999;
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.icon-cards__content.step-animation {
  -webkit-animation: carousel 8s infinite steps(1) forwards;
          animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transform-origin: center;
}

.icon-cards__item:nth-child(1) {
  transform: rotateY(0) translateZ(35vw);
}

.icon-cards__item:nth-child(2) {
  transform: rotateY(120deg) translateZ(35vw);
}

.icon-cards__item:nth-child(3) {
  transform: rotateY(240deg) translateZ(35vw);
}

.icon-cards__item img{
  height: 100%;
}
@-webkit-keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  30% {
    transform: scale(1.25, 0.75);
  }

  40% {
    transform: scale(0.75, 1.25);
  }

  50% {
    transform: scale(1.15, 0.85);
  }

  65% {
    transform: scale(0.95, 1.05);
  }

  75% {
    transform: scale(1.05, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}

